body
{ 
    background:url(../assets/img/img9.png)rgba(32, 30, 30, 0.8);
    background-repeat:no-repeat;
    background-size: 100%;
    filter:grayscale(50%);
    background-blend-mode: multiply;
}


div img 
{
position:relative;
z-index: 11;
}

label{
    color:white;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 2em;
    width: 70%;
    -webkit-text-stroke: 1.5px black;
}
input{
    background-color:#C8BDA9;
    width:100%;
    height:80%;
    font-size: larger;
    font-family: 'Fascinate', cursive;  
    border-width: 5%;
    border-color: black;
    display: inline-block;
    margin-top: 3%;
}

.encabezado{
    position:relative;
    width: 20%;
    height: 20%;
    left: 80%;
}


.cancelar1{
    background-color:#D9D9D9;
    width: 100%;
    height:80%;
    text-align:center;
    font-family: 'Fascinate', cursive;  
    font-size:larger;
    cursor:pointer;
    border-color: black;
    border-width: 5%;
    display: inline-block;
}
.a{
    height: 100%;
}
.cancelar1:hover{filter: sepia(60%);}

.formulario{
    height:60%;
    
}

.area-citas{
    width: 100%;
}
